/* Đảm bảo font chữ thống nhất */
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* Container chính */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

/* Căn giữa nội dung */
.link-content {
    text-align: center;
}
.biolink_block_id_4948{
    max-width: 100%;
}
/* Căn chỉnh ảnh theo chiều ngang và đồng đều kích thước trên máy tính */
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Thiết lập hình ảnh */
.row a img {
    width: 50vw; /* 50% chiều rộng của màn hình */
    object-fit: cover; /* Đảm bảo ảnh không bị méo */
    border-radius: 10px;
}

/* Thiết lập cho nút REQUEST REVIEW */
#random-link {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    width: 100%; /* 50% chiều rộng của màn hình */
    height: 50px; /* Độ cao cố định */
    padding: 12px;
    margin: 20px auto;
    text-align: center;
    background: #4864DD;
    color: white;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 20px 0px #00000010;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    gap: 5px;
}

/* Responsive cho điện thoại */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .row a img {
        width: 100vw; /* Chiều ngang ảnh bằng đúng với chiều rộng màn hình */
        height: auto;
    }
    .biolink_block_id_4948{
        max-width: 100%;
    }
    
    #random-link {
        width: 90vw; /* Nút chiếm toàn bộ chiều rộng màn hình */
        height: auto;
        margin: 0;
        
    }
    span{
        font-size: 15px;
    }
}
